* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

.my-mt{
    margin: 100px auto;
    height: 200px;
}

.form-container{
    background-color: #000;
    opacity: 0.7;
    filter: alpha(opacity=70);
}

.form-header{
    color: #FFF;
}

/* For Login page */
.motto {
  font-family: cooper black;
  font-weight: 200px;
color:white;
text-align: center;}

/* styling input on sign-up page */
input {
  border: none;
  border-bottom: 2px solid red;
  color:white;
}

input:focus {
  background-color: lightyellow;
}

/* For success page */
.success {
  position: relative;
  text-align: center;
  color: white;
}

.success2 {
  max-width: 100%;
}

.myh2{
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.regsuccess {
  color:yellow;
  font-variant-caps: small-caps;
  font-weight: bold;
  font-size: 2em;
}




/* .font-weight-normal {
  font-family: cooper black;
  font-weight: 400;
  padding: 2em;
}

footer {
  display: block;
}

.image1 {
  width: 200px;
  height: 200px;
  margin: 5px;
}

.image2 {
  width: 200px;
  height: 200px;
  margin: 5px;
}

.ecstatic {
  width: 200px;
  height: 50px;
}

.picture1 {
  position: absolute;
  margin-bottom: 10px;
  z-index: 0px;
}

.picture2 {
  position: relative;
  top: 380px;
  right: -40px;
  z-index: 10;
  width: 250px;
  height:225px ;
  border: 5px solid white;
}

.dip {
  position: absolute;
  top: 450px;
  right:1px;
  z-index: 10;
} */

